<div class="main">
  <header>
    <span
      ><mat-icon class="hamburger ml-3" *ngIf="!isOpen" (click)="toggleOpen()"
        >menu</mat-icon
      >
    </span>
    <span>والرت</span>
  </header>
  <div class="small-menu" *ngIf="isOpen">
    <mat-icon class="hamburger mb-7" *ngIf="isOpen" (click)="toggleOpen()"
      >close</mat-icon
    >
    <div>
      <div class="dashboard-list-item">
        <button mat-button color="#eee" routerLinkActive="btn--active">
          <a routerLink="/dashboard" class="flex align-middle">
            <mat-icon class="ml-3">track_changes</mat-icon>
            <span class="mt-[1px]">پیگیری ها</span>
          </a>
        </button>
      </div>
      <div class="dashboard-list-item">
        <button mat-button color="#eee" routerLinkActive="btn--active">
          <a routerLink="/dashboard/setting" class="flex align-middle">
            <mat-icon class="ml-3">settings</mat-icon>
            <span class="mt-[1px]">تنظیمات</span>
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <aside>
      <div class="dashboard-list-item">
        <button mat-button color="#eee" routerLinkActive="btn--active">
          <a routerLink="/dashboard" class="flex align-middle">
            <mat-icon class="ml-3">track_changes</mat-icon>
            <span class="mt-[1px]">پیگیری ها</span>
          </a>
        </button>
      </div>
      <div class="dashboard-list-item">
        <button mat-button color="#eee" routerLinkActive="btn--active">
          <a routerLink="/dashboard/setting" class="flex align-middle">
            <mat-icon class="ml-3">settings</mat-icon>
            <span class="mt-[1px]">تنظیمات</span>
          </a>
        </button>
      </div>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
