<div class="main">
  <header class="flex justify-between">
    <div>
      <span
        ><mat-icon class="hamburger ml-3" *ngIf="!isOpen" (click)="toggleOpen()"
          >menu</mat-icon
        >
      </span>
      <span class="header-title">والرت</span>
    </div>
    <div class="logout" (click)="logOut()">
      <button mat-stroked-button>
        <mat-icon class="ml-3">exit_to_app</mat-icon>
        <span class="mt-[1px]">خروج</span>
      </button>
    </div>
  </header>
  <div class="small-menu" *ngIf="isOpen">
    <mat-icon class="hamburger mb-7" *ngIf="isOpen" (click)="toggleOpen()"
      >close</mat-icon
    >
    <div class="small-menu-container">
      <div class="dashboard-list-item">
        <a routerLink="/dashboard" (click)="toggleOpen()">
          <button
            mat-button
            color="#eee"
            routerLinkActive="btn--active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon class="ml-3">track_changes</mat-icon>
            <span class="mt-[1px]">پیگیری ها</span>
          </button>
        </a>
      </div>
      <div class="dashboard-list-item">
        <a routerLink="/dashboard/create" (click)="toggleOpen()">
          <button mat-button color="#eee" routerLinkActive="btn--active">
            <mat-icon class="ml-3">add_circle_outline</mat-icon>
            <span class="mt-[1px]">پیگیری جدید</span>
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <aside>
      <div class="dashboard-list-item">
        <a routerLink="/dashboard">
          <button
            mat-button
            color="#eee"
            routerLinkActive="btn--active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon class="ml-3">track_changes</mat-icon>
            <span class="mt-[1px]">پیگیری ها</span>
          </button>
        </a>
      </div>
      <div class="dashboard-list-item">
        <a routerLink="/dashboard/create">
          <button mat-button color="#eee" routerLinkActive="btn--active">
            <mat-icon class="ml-3">add_circle_outline</mat-icon>
            <span class="mt-[1px]">پیگیری جدید</span>
          </button>
        </a>
      </div>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
