.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  background-color: rgb(106, 11, 68);
  padding: 15px;
  display: flex;
  align-items: center;
}

header span {
  font-size: 18px;
}
aside {
  display: none;
  min-width: 250px;
  background-color: rgb(17 17 17);
  padding: 20px 15px;
}

main {
  padding: 25px 20px;
}

.hamburger {
  cursor: pointer;
  font-size: 30px;
}
.small-menu {
  background-color: rgb(52, 52, 52);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px 35px;
  z-index: 2;
}
.dasboard-list-item {
  width: 100%;
}

button[mat-button] {
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 23px;
}
.btn--active {
  background-color: #153d64;
}
@media only screen and (min-width: 650px) {
  aside {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .small-menu {
    display: none;
  }
}
