<div>
  <h2 class="form-header">تکمیل ثبت نام</h2>
  <form [formGroup]="completeRegisterForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>نام</mat-label>
      <input
        matInput
        placeholder="نام خود را وارد کنید"
        type="text"
        id="name"
        formControlName="name"
      />
      <mat-error
        *ngIf="completeRegisterForm?.get('name')?.hasError('required')"
      >
        نام مورد نیاز است
      </mat-error>
      <mat-error
        *ngIf="completeRegisterForm?.get('name')?.hasError('minlength')"
      >
        حداقل طول اسم 3 میباشد
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>پسورد</mat-label>
      <input
        matInput
        placeholder="پسورد خود را وارد کنید"
        type="password"
        id="password"
        formControlName="password"
      />
      <mat-error
        *ngIf="completeRegisterForm?.get('password')?.hasError('required')"
      >
        پسورد مورد نیاز است
      </mat-error>
      <mat-error
        *ngIf="completeRegisterForm?.get('password')?.hasError('pattern')"
      >
        حداقل طول پسورد 6 کاراکتر و بایستی شامل حداقل یک حرف و عدد باشد
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-3"
      [disabled]="isLoading"
    >
      ثبت نام
    </button>
  </form>
</div>
