<div>
  <h2 class="form-header">بازیابی زمر عبور</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>ایمیل</mat-label>
      <input
        matInput
        placeholder="ایمیل خود را وارد کنید"
        type="email"
        id="email"
        formControlName="email"
      />
      <mat-error *ngIf="registerForm?.get('email')?.hasError('required')">
        ایمیل مورد نیاز است
      </mat-error>
      <mat-error *ngIf="registerForm?.get('email')?.hasError('email')">
        ایمیل اشتباه است
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-3"
      [disabled]="isLoading"
    >
      ارسال ایمیل بازیابی
    </button>
  </form>
  <div class="flex justify-end mt-[15px]">
    <a routerLink="/auth/login" class="text-cyan-600 text-sm"
      >رمز عبور یادم اومد 😀
    </a>
  </div>
</div>
