mat-form-field {
  width: 400px;
}

input {
  direction: ltr;
}
input:-moz-placeholder {
  text-align: right;
}
input:-ms-input-placeholder {
  text-align: right;
}
input::-webkit-input-placeholder {
  text-align: right;
}

.form-header {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}
