/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/font/dana/woff2/Dana-Regular.woff2') format('woff2'),
    url('./assets/font/dana/woff/Dana-Regular.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/dana/woff2/Dana-Medium.woff2') format('woff2'),
    url('./assets/font/dana/woff/Dana-Medium.woff') format('woff');
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  direction: rtl;
  background-color: #161616;
  color: white;
}

*,
*::after,
*::before,
:not(mat-icon) {
  font-family: dana !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}
app-create {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  app-login,
  app-complete-register,
  app-register,
  app-forget-password,
  app-create,
  app-reset-password {
    padding: 0 15px;
    width: 100%;
  }
  form {
    width: 100%;
  }
  mat-form-field {
    width: 100% !important;
  }
}
