/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  direction: rtl;
  background-color: #161616;
  color: white;
}

*,
*::after,
*::before,
:not(mat-icon) {
  font-family: iransans !important;
}

mat-icon {
  font-family: 'Material Icons' !important;
}
